<div>
	<p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>
</div>
<div class="col-12">
   <span *ngIf="messageActif" class="flex justify-content-center mt-1">
          <p-messages [(value)]="messageErreur" ></p-messages>
        </span>
	<div class="container-fluid mt-2 ">
		<div class="row">
			<div class="cadre-nombre col-xl-4 col-md-6 col-sm-12 p-1 ">
				<div class="surface-card shadow-5 p-2 border-round">
					<div class="flex justify-content-between mb-3">
						<div class="flex align-items-center justify-content-center bg-blue-10 br-5 border-round"
							 style="width:4rem;height:4rem">
							<i class="pi  pi-server" aria-hidden="true" style="font-size: 3em;color: rgb(77, 165, 48);"></i>
						</div>
						<div>
							<!--			<h2>{{ tableauApplication?.totalApplications | number: '1.0-0' | replace: ',':' ' }}</h2>  -->
							<h2>{{ tableauApplication?.totalApplications }}</h2>
						</div>
					</div>
					<div class="text-center">
						<span>Total application</span>
					</div>
				</div>
			</div>
			<div class="cadre-nombre col-xl-4 col-md-6 col-sm-12 p-1 ">
				<div class="surface-card shadow-5 p-2 border-round">
					<div class="flex justify-content-between mb-3">
						<div class="flex align-items-center justify-content-center bg-blue-10 br-5 border-round"
							 style="width:4rem;height:4rem">
							<i class="fa fa-check" aria-hidden="true" style="font-size: 3em;color: rgb(77, 165, 48);"></i>
						</div>
						<div>
							<h2>{{ tableauApplication?.applicationsActives }}</h2>
						</div>
					</div>
					<div class="text-center">
						<span>Utilisateurs actifs</span>
					</div>
				</div>
			</div>
			<div class="cadre-nombre col-xl-4 col-md-6 col-sm-12 p-1 ">
				<div class="surface-card shadow-5 p-2 border-round">
					<div class="flex justify-content-between mb-3">
						<div class="flex align-items-center justify-content-center bg-blue-10 br-5 border-round"
							 style="width:4rem;height:4rem">
							<i class="fa fa-exclamation-circle" aria-hidden="true" style="font-size: 3em;color: rgb(77, 165, 48);"></i>
						</div>
						<div>
							<h2>{{ tableauApplication?.applicationsActives }}</h2>
						</div>
					</div>
					<div class="text-center">
						<span>application inactifs</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="row">
	<div class="card col-12">
		<p-toolbar styleClass="mb-4 gap-2">
			<ng-template pTemplate="left">

			</ng-template>
			<ng-template pTemplate="right">
				<p-button  icon="pi pi-user" label="Ajouter"  [style]="{color:'white',border:'#E67B3B', background:'#E67B3B'}"></p-button>
				<p-button icon="pi pi-user-edit" class="ml-2" label="Modifier" [disabled]="!applicationselectionne"  [style]="{color:'white',border:'#E67B3B', background:'#E67B3B'}"></p-button>-->
			</ng-template>
		</p-toolbar>
		<p-table #dt1 [value]="tableauApplication?.applications" [(selection)]="applicationselectionne" [rowHover]="true"
				 styleClass="p-datatable-gridlines" sortField="nom" [scrollable]="true" [tableStyle]="{'min-width': '10rem'}"
				 [rows]="12" [paginator]="true" selectionMode="single" scrollHeight="700px" [rowsPerPageOptions]="[10,25,50]">
			<ng-template   pTemplate="header"  let-columns>
				<tr >
					<!--            <th style="width: 4rem">-->
					<!--                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>-->
					<!--            </th>-->
					<!--            <th style="width:500px" pSortableColumn="dateDebut">Code<p-sortIcon field="dateDebut"></p-sortIcon></th>-->
					<th class="text-center" style="width:200px" pSortableColumn="nom" >Nom <p-sortIcon field="nom"></p-sortIcon></th>
					<th class="text-center" style="width:150px"  pSortableColumn="token">token<p-sortIcon field="token"></p-sortIcon></th>
					<th  class="text-center" style="width:200px" pSortableColumn="loginEsb">loginEsb<p-sortIcon field="loginEsb"></p-sortIcon></th>
					<th  class="text-center" style="width:200px"  pSortableColumn="passwordEsb">passwordEsb<p-sortIcon field="passwordEsb"></p-sortIcon></th>
					<th class="text-center" style="width:500px" pSortableColumn="tokenEsb">tokenEsb<p-sortIcon field="tokenEsb"></p-sortIcon></th>
					<th  class="text-center" style="width:300px" pSortableColumn="authToken">authToken<p-sortIcon field="authToken"></p-sortIcon></th>
					<th class="text-center" style="width:500px" pSortableColumn="authLoginPassword">authLoginPassword<p-sortIcon field="authLoginPassword"></p-sortIcon></th>
					<th  class="text-center" style="width:200px" pSortableColumn="loginUtilisateur">loginUtilisateur<p-sortIcon field="loginUtilisateur"></p-sortIcon></th>
					<th  class="text-center" class="text-center"  style="width:100px">Actions</th>
				</tr>

				<tr >
					<th>
						<input pInputText type="text" style="width: 100%;"(input)="dt1.filter($any($event.target).value, 'nom', 'contains')" [value]="$any(dt1.filters['nom'])?.value" class="p-column-filter">
					</th>
					<th>
						<input pInputText type="text" (input)="dt1.filter($any($event.target).value, 'token', 'contains')" [value]="$any(dt1.filters['token'])?.value" class="p-column-filter">
					</th>
					<th>
						<input pInputText type="text" (input)="dt1.filter($any($event.target).value, 'loginEsb', 'contains')" [value]="$any(dt1.filters['loginEsb'])?.value" class="p-column-filter">
					</th>
					<th>
						<input pInputText type="text" style="width: 100%;" (input)="dt1.filter($any($event.target).value, 'passwordEsb', 'contains')" [value]="$any(dt1.filters['passwordEsb'])?.value"  class="p-column-filter">
					</th>
					<th>
						<input pInputText type="text" style="width: 100%;" (input)="dt1.filter($any($event.target).value, 'authToken', 'contains')" [value]="$any(dt1.filters['authToken'])?.value"  class="p-column-filter">
					</th>
					<th>
						<input pInputText type="text" style="width: 100%;" (input)="dt1.filter($any($event.target).value, 'authLoginPassword', 'contains')" [value]="$any(dt1.filters['authLoginPassword'])?.value"  class="p-column-filter">
					</th>
					<th>
						<input pInputText type="text" style="width: 100%;" (input)="dt1.filter($any($event.target).value, 'loginUtilisateur', 'contains')" [value]="$any(dt1.filters['loginUtilisateur'])?.value"  class="p-column-filter">
					</th>
					<th>
					</th>
				</tr>
			</ng-template>

			<ng-template pTemplate="body" let-util>
				<tr class="p-selectable-row" [pSelectableRow]="util" style="height: 45px !important;">
					<td >{{util.nom }}</td>
					<td >{{util.token }}</td>
					<td >{{util.loginEsb}}</td>
					<td >{{util.passwordEsb}}</td>
					<td >{{util.authToken}}</td>
					<td >{{util.authLoginPassword}}</td>
					<td >{{util.loginUtilisateur}}</td>
				</tr>
			</ng-template>
			<ng-template pTemplate="emptymessage">
				<tr>
					<td colspan="7"  style="text-align:center;">Aucun utilisateur trouvé.</td>
				</tr>
			</ng-template>
		</p-table>
	</div>
</div>


<p-dialog [(visible)]="ouvrirModaleSaisieApplication" (onHide)="fermerModale()" [style]="{width: '550px'}" header=" Ajouter/Modifier utilisateur" [modal]="true" styleClass="p-fluid">
	<ng-template pTemplate="content">
		<form  [formGroup]="applicationFormgroup">
			<div class="row">
				<div class="col-6 col-sm-12">
					<div class="field">
						<label for="nom" class="label-required">Nom</label>
						<input type="text" pInputText id="nom" placeholder="Nom" formControlName="nom" required autofocus />
					</div>
				</div>
				<div class="col-6 col-sm-12">
					<div class="field">
						<label for="loginEsb" class="label-required">loginEsb</label>
						<input type="text" pInputText id="loginEsb" placeholder="loginEsb"  formControlName="loginEsb" required autofocus />
					</div>
				</div>
				<div class="col-6 col-sm-12">
					<div class="field">
						<label for="passwordEsb" class="label-required">passwordEsb</label>
						<input type="text" pInputText id="passwordEsb" placeholder="passwordEsb"  formControlName="passwordEsb" required autofocus />
					</div>
				</div>
				<div class="col-6 col-sm-12">
					<div class="field">
						<label for="tokenEsb" class="label-required">tokenEsb</label>
						<input type="text" pInputText id="tokenEsb" placeholder="tokenEsb"  formControlName="tokenEsb" required autofocus />
					</div>
				</div>
				<div class="col-6 col-sm-12">
					<div class="field">
						<label for="loginEsb" class="label-required">authToken</label>
						<input type="text" pInputText id="authToken" placeholder="authToken"  formControlName="authToken" required autofocus />
					</div>
				</div><div class="col-6 col-sm-12">
					<div class="field">
						<label for="loginEsb" class="label-required">authLoginPassword</label>
						<input type="text" pInputText id="authLoginPassword" placeholder="authLoginPassword"  formControlName="authLoginPassword" required autofocus />
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-6 col-sm-12">
					<div class="field">
						<label for="profil" class="label-required">Profil</label>
						<p-dropdown formControlName="profil" id="profil" ngDefaultControl [options]="" optionLabel="label" optionValue="value"></p-dropdown>
					</div>
				</div>
				<div class="col-6 col-sm-12">
					<div class="field">
						<label for="statut" class="label-required">Statut</label>
						<p-dropdown formControlName="statut" id="statut" ngDefaultControl [options]="statutSelect" optionLabel="label" optionValue="value"></p-dropdown>
					</div>
				</div>
			</div>
			
			<div class="field">
			</div>

			<span *ngIf="messageActif" class="flex justify-content-center mt-1">
          <p-messages [(value)]="messageErreur" ></p-messages>
        </span>

		</form>
	</ng-template>

	<ng-template pTemplate="footer">
		<div class="text-center" *ngIf="isLoading">
			<p-progressSpinner [style]="{width: '50px', height: '50px'}"></p-progressSpinner>
		</div>
		<div *ngIf="!isLoading">
			<button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-text" (click)="fermerModale()" ></button>
			<button pButton pRipple label="Valider" type="submit" icon="pi pi-check" class="p-button-text"
					(click)="onAjouterOuModifier()"
					[disabled]="applicationFormgroup.invalid || isLoading"></button>
		</div>
	</ng-template>
</p-dialog>


