<p-toast></p-toast>
<p-dialog [(visible)]="visible" (onShow)="ouverture()" (onHide)="fermerModale(false)" [style]="{width: '550px'}"
          header="Changer le mot de passe" [modal]="true" styleClass="p-fluid">
  <ng-template pTemplate="content">
    <form [formGroup]="passwordForm">
      <div class="p-inputgroup mt-4 mot-passe">
        <span [style]="{'height' : '45px'}" class="p-inputgroup-addon label-required"><i class="pi pi-lock"></i></span>
        <p-password formControlName="ancien" [toggleMask]="true" placeholder="Mot de passe actuel" [feedback]="false"
                    [style]="{'width': '28.7rem', 'height' : '45px'}"></p-password>
      </div>
      <div class="p-inputgroup mt-4 mot-passe">
        <span [style]="{'height' : '45px'}" class="p-inputgroup-addon label-required"><i class="pi pi-lock"></i></span>
        <p-password appendTo="body" formControlName="nouveau"
                    [toggleMask]="true"
                    placeholder="Nouveau mot de passe"
                    promptLabel="Saisir le mot de passe"
                    weakLabel="Faible"
                    mediumLabel="Moyen"
                    strongLabel="Fort"
                    [style]="{'width': '28.7rem', 'height' : '45px'}">
          <ng-template pTemplate="footer">
            <p class="mt-2">Récommandations</p>
            <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
              <li>Au moins une lettre minuscule</li>
              <li>Au moins une lettre majuscule</li>
              <li>Au moins un chiffre</li>
              <li>Au moins 6 caractères</li>
            </ul>
          </ng-template>
        </p-password>
        <small class="text-danger small" *ngIf="isTailleMinimumPasswordIvalide()">Saisir au moins 6 caractères</small>

      </div>
      <div class="p-inputgroup mt-4 mot-passe">
        <span [style]="{'height' : '45px'}" class="p-inputgroup-addon label-required"><i class="pi pi-lock"></i></span>
        <p-password formControlName="verifier" [toggleMask]="true" placeholder="Ressaisir le mot de passe"
                    [feedback]="false" [style]="{'width': '28.7rem', 'height' : '45px'}"></p-password>
      </div>

      <span *ngIf="messageActif" class="flex justify-content-center mt-2">
          <p-messages [(value)]="messageErreur" ></p-messages>
      </span>
        <div class="text-danger ml-8" *ngIf="messagerecommandation">
          <p >Récommandations</p>
          <ul class="pl-2  mt-0" style="line-height: 1.5">
            <li>Au moins une lettre minuscule</li>
            <li>Au moins une lettre majuscule</li>
            <li>Au moins un chiffre</li>
            <li>Au moins 6 caractères</li>
          </ul> 
        </div>
    </form>
  </ng-template>

  <ng-template pTemplate="footer">
    <div class="text-center" *ngIf="isLoading">
      <p-progressSpinner [style]="{width: '50px', height: '50px'}"></p-progressSpinner>
    </div>
    <div *ngIf="!isLoading">
      <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-text"
              (click)="fermerModale(false)"></button>
      <button pButton pRipple label="Valider" type="submit" icon="pi pi-check" class="p-button-text"
              (click)="onEnregistrerPassword()"
              [disabled]="isLoading"></button>
    </div>
  </ng-template>
</p-dialog>
